<div class="container-fluid content">
  <div class="form-title">
    <h3>新規登録</h3>
  </div>

<%# 登録フォーム %>
  <div class="form">
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>

      <%# エラーメッセージ %>
      <%= render "devise/shared/error_messages", resource: resource %>

      <div class="form-content">
        <label>ニックネーム (10文字以内)</label>
        <span class="required">必須</span>
        <%= f.text_field :name, autofocus: true, class: "form-content__field", maxlength: '10' %>
      </div>

      <div class="form-content">
        <label>自己紹介</label>
        <span class="optional">任意</span>
        <%= f.text_area :profile, class: "form-content__profile", rows: 5 %>
      </div>

      <div class="form-content">
        <label>プロフィール画像</label>
        <span class="optional">任意</span>
        <%= f.file_field :image, class: "form-content__image"%>
      </div>
      
      <div class="form-content">
        <label>メールアドレス</label>
        <span class="required">必須</span>
        <%= f.email_field :email, autocomplete: "email", class: "form-content__field"%>
      </div>

      <div class="form-content">
        <label>パスワード (半角英数字6文字以上)</label>
        <span class="required">必須</span>
        <%= f.password_field :password, autocomplete: "new-password", class: "form-content__field" %>
      </div>

      <div class="form-content">
        <label>パスワード (確認用)</label>
        <span class="required">必須</span>
        <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "form-content__field" %>
      </div>

      <div class="signup">
        <%= f.submit "新規登録", class: "btn btn-warning text-white"%>
      </div>
    <% end %>
  </div>
</div>