<div class="container">
  <div class="wrapper-inner">
    <%= render 'common/follow_page_username' %>
    <div class="follow_tabs">
      <div class="follow_tab" id="follower">
        <%= render 'common/following_count' %>
      </div>
      <div class="follow_tab active" id="following">
        <%= render 'common/follower_count' %>
      </div>
    </div>
    <div class="follower-list">
      <%= render 'common/follow_lists', { follows: @followings, empty_content: "フォロー中のユーザーはいません"} %>
    </div>
    <div class="follower-list2 show">
      <%= render 'common/follow_lists', { follows: @followers, empty_content: "フォロワーはいません"} %>
    </div>
  </div>
</div>