<div class="container">
  <div class="notification-wrapper">
    <div class="title">
      <span class="word">
        通知一覧
      </span>
    </div>
    <div class="notification-content">
      <div class="notifications">
        <% if @notifications.exists? %>
          <% @notifications.each do |notification| %>
            <% if notification.action == 'follow' %>
              <%= link_to user_path(notification.visitor.id), class: "notification-link" do %>
                <div class="detail">
                  <div class="user-image">
                    <% if notification.visitor.image.attached? %>
                      <%= image_tag notification.visitor.image, class: "user-image" %>
                    <% else %>
                      <%= image_tag 'default.png', class: "user-image" %>
                    <% end %>
                  </div>
                  <div class="info">
                    <div class="text">
                      <%= notification.visitor.name %>さんがあなたをフォローしました
                    </div>
                    <div class="time-difference">
                      <%= time_ago_in_words(notification.created_at) %>前
                    </div>
                  </div>
                </div>
              <% end %>
            <% elsif notification.action == 'favorite' %>
              <%= link_to user_path(notification.visitor.id), class: "notification-link" do %>
                <div class="detail">
                  <div class="user-image">
                    <% if notification.visitor.image.attached? %>
                      <%= image_tag notification.visitor.image, class: "user-image" %>
                    <% else %>
                      <%= image_tag 'default.png', class: "user-image" %>
                    <% end %>
                  </div>
                  <div class="info">
                    <div class="text">
                      <%= notification.visitor.name %>さんがあなたの投稿をお気に入り登録しました
                    </div>
                    <div class="time-difference">
                      <%= time_ago_in_words(notification.created_at) %>前
                    </div>
                  </div>
                </div>
              <% end %>
            <% elsif notification.action == 'message' %>
              <%= link_to room_messages_path(notification.room_id), class: "notification-link" do %>
                <div class="detail">
                  <div class="user-image">
                    <% if notification.visitor.image.attached? %>
                      <%= image_tag notification.visitor.image, class: "user-image" %>
                    <% else %>
                      <%= image_tag 'default.png', class: "user-image" %>
                    <% end %>
                  </div>
                  <div class="info">
                    <div class="text">
                      <%= notification.visitor.name %>さんからメッセージが届きました
                    </div>
                    <div class="time-difference">
                      <%= time_ago_in_words(notification.created_at) %>前
                    </div>
                  </div>
                </div>
              <% end %>
            <% elsif notification.action == 'review' %>
              <%= link_to user_reviews_path(current_user.id), class: "notification-link" do %>
                <div class="detail">
                  <div class="user-image">
                    <% if notification.visitor.image.attached? %>
                      <%= image_tag notification.visitor.image, class: "user-image" %>
                    <% else %>
                      <%= image_tag 'default.png', class: "user-image" %>
                    <% end %>
                  </div>
                  <div class="info">
                    <div class="text">
                      <%= notification.visitor.name %>さんからレビューが投稿されました
                    </div>
                    <div class="time-difference">
                      <%= time_ago_in_words(notification.created_at) %>前
                    </div>
                  </div>
                </div>
              <% end %>
            <% end %>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>