<div class="container">
  <div class="user-inner">
    <div class="user-info">
      <div class="upper">
        <div class="left">
          <% if @post_user.image.attached? %>
            <%= image_tag @post_user.image, class: "user-image" %>
          <% else %>
            <%= image_tag 'default.png', class: "user-image" %>
          <% end %>
        </div>
        <div class="right">
          <div class="user-content">
            <div class="name">
              <%= @post_user.name %>
            </div>
            <div class="review">
              <div class="star-rating-front" style="width: <%= @post_user.avg_score*20 %>% ">
                ★★★★★
              </div>
              <div class="star-rating-back" >
                ★★★★★
              </div>
              <%= link_to user_reviews_path(@post_user.id), class: "link" do %>
                <div class="count" id="count">
                  (<%= @post_user.reviews.count %>件のレビュー)
                </div>
              <% end %>
            </div>
            <div class="follow">
              <%= link_to followings_user_path(@post_user), class: "followings" do %>
                <div class="count">
                  <%= @post_user.followings.count %>
                </div>
                <div class="word">
                  フォロー
                </div>
              <% end %>
              <%= link_to followers_user_path(@post_user), class: "followers" do %>
                <div class="count">
                  <%= @post_user.followers.count %>
                </div>
                <div class="word">
                  フォロワー
                </div>
              <% end %>
            </div>
          </div>
          <div class="button">
            <% if user_signed_in? %>
              <% if current_user.id == @post_user.id %>
                <%= link_to edit_user_registration_path, class: "btn btn-outline-warning" do %>
                  <i class="fas fa-user-edit"></i>
                  アカウント編集
                <% end %>
              <% else %>
                <div class="buttons">
                  <div id="follow_form-<%= @post_user.id%>">
                    <% if current_user.following?(@post_user) %>
                      <%= render 'unfollow', {following_user: @post_user}%>
                    <% else %>
                      <%= render 'follow', {following: @post_user}%>
                    <% end %>
                  </div>
                  <% if @have_room == true %>
                    <%= link_to "メッセージを送信", room_messages_path(@room_id),class: "btn btn-outline-warning" %>
                  <% else %>
                    <%= form_with model: @room, local: true do |f| %>
                      <input name="room[user_ids][]" type="hidden" value=<%= current_user.id%>>
                      <input name="room[user_ids][]" type="hidden" value=<%= @post_user.id%>>
                      <%= f.submit "メッセージを送信", class: "btn btn-outline-warning" %>
                    <% end %>
                  <% end %>
                </div>
              <% end %>
            <% end %>
          </div>
        </div>
      </div>
      <% unless @post_user.profile == "" %>
        <div class="bottom">
          <div class="profile">
            <%= @post_user.profile %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
  <div class="post-inner">
    <div class="user-post">
      <div class="user-page-tags">
        <div class="user-last-post active" id="lasted-post">最近の投稿</div>
        <div class="user-favorite-post" id="favorited-post">お気に入りの投稿</div>
      </div>
      <div class="giving-post show">
        <% if @posts.length != 0%>
          <% @posts.each do |post| %>
            <div class="post">
              <%= link_to post_path(post), class: "post-link" do %>
                <div class="post-content">
                  <div class="post-left">
                    <div class="user-icon">
                      <% if post.user.image.attached? %>
                        <%= image_tag post.user.image, class: "user-icon about-post" %>
                      <% else %>
                        <%= image_tag  'default.png', class: "user-icon about-post"%>
                      <% end %>
                    </div>
                    <div class="user-info">
                      <div class="name">
                        <%= post.user.name %>
                      </div>
                      <div class="review">
                        <div class="star-rating-front" style="width: <%= @post_user.avg_score*20 %>% ">
                        ★★★★★
                      </div>
                      <div class="star-rating-back" >
                        ★★★★★
                      </div>
                      <div class="count">
                        (<%= @post_user.reviews.count %>件のレビュー)
                      </div>
                      </div>
                    </div>
                  </div>
                  <div class="post-right">
                    <div class="title">
                      <div class="title-content">
                        <%= post.title %>
                      </div>
                    </div>
                    <div class="content">
                      <div class="tags_list">
                        <% if post.tags.present? %>
                          <% post.tags.each do |tag| %>
                            <div class="tag">
                              #<%= tag.name %>
                            </div>
                          <% end %>
                        <% end %>
                      </div>
                      <div class="content__middle">
                        <div class="sports">
                          競技名: <%= post.sports %>
                        </div>
                        <div class="center">
                          <div class="datetime">
                            日時: <%= post.datetime %>
                          </div>
                          <div class="cost">
                            参加費: <%= post.cost %>
                          </div>
                        </div>
                      </div>
                      <div class="address">
                        場所: <%= post.address %>
                      </div>
                    </div>
                  </div>
                </div>
              <% end %>
            </div>
          <% end %>
        <% else %>
          <div class="empty-post">
            <div class="content">
              投稿はありません
            </div>
          </div>
        <% end %>
      </div>
      <div class="giving-post2">
        <% if @favorites.length != 0%>
          <% @favorites.each do |favorite| %>
            <div class="post">
              <%= link_to post_path(favorite.post), class: "post-link" do %>
                <div class="post-content">
                  <div class="post-left">
                    <div class="user-icon">
                      <% if favorite.post.user.image.attached? %>
                        <%= image_tag favorite.post.user.image, class: "user-icon about-post" %>
                      <% else %>
                        <%= image_tag  'default.png', class: "user-icon about-post"%>
                      <% end %>
                    </div>
                    <div class="user-info">
                      <div class="name">
                        <%= favorite.post.user.name %>
                      </div>
                      <div class="review">
                        <div class="star-rating-front" style="width: <%= @post_user.avg_score*20 %>% ">
                          ★★★★★
                        </div>
                        <div class="star-rating-back" >
                          ★★★★★
                        </div>
                        <div class="count">
                          (<%= @post_user.reviews.count %>件のレビュー)
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="post-right">
                    <div class="title">
                      <div class="title-content">
                        <%= favorite.post.title %>
                      </div>
                    </div>
                    <div class="content">
                      <div class="tags_list">
                        <% if favorite.post.tags.present? %>
                          <% favorite.post.tags.each do |tag| %>
                            <div class="tag">
                              #<%= tag.name %>
                            </div>
                          <% end %>
                        <% end %>
                      </div>
                      <div class="content__middle">
                        <div class="sports">
                          競技名: <%= favorite.post.sports %>
                        </div>
                        <div class="center">
                          <div class="datetime">
                            日時: <%= favorite.post.datetime %>
                          </div>
                          <div class="cost">
                            参加費: <%= favorite.post.cost %>
                          </div>
                        </div>
                      </div>
                      <div class="address">
                        場所: <%= favorite.post.address %>
                      </div>
                    </div>
                  </div>
                </div>
              <% end %>
            </div>
          <% end %>
        <% else %>
          <div class="empty-post">
            <div class="content">
              お気に入りの投稿はありません
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>