<div class="container-fluid content">
  <div class="form-title">
    <h3>ログイン</h3>
  </div>

  <%# 登録フォーム %>
  <div class="form">
    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>

      <%# エラーメッセージ %>
      <div class='login-flash-message'>
        <%= flash[:notice] %>
        <%= flash[:alert] %>
      </div>

      <div class="form-content">
        <label>メールアドレス</label><br>
        <%= f.email_field :email, autofocus: true, class: "form-content__field" %>
      </div>

      <div class="form-content">
        <label>パスワード</label><br>
        <%= f.password_field :password, class: "form-content__field"%>
      </div>

      <div class="login">
        <%= f.submit "ログイン", class: "btn btn-warning text-white" %>
      </div>
      <div class="guest-login">
        <%= link_to "ゲストログイン（閲覧用）", users_guest_sign_in_path, class: "btn btn-outline-warning", method: :post %>
      </div>
      <%# render "devise/shared/links" %>
    <% end %>
  </div>
</div>