<div class="container-fluid content">
  <div class="form-title">
    <h3>新規投稿</h3>
  </div>

  <%# 登録フォーム %>
  <div class="form">
    <%= form_with model: @post, local: true do |f| %>

      <%# エラーメッセージ %>
      <%# render "devise/shared/error_messages", resource: resource %>

      <div class="form-content">
        <label>タイトル</label>
        <span class="required">必須</span>
        <%= f.text_field :title, autofocus: true, class: "form-content__field" %>
      </div>

      <div class="form-content">
        <label>画像</label>
        <span class="required">必須</span>
        <%= f.file_field :active_image, class: "form-content__image"%>
      </div>

      <div class="form-content">
        <label>タグ</label>
        <span class="optional">任意</span>
        <%= f.email_field :email, class: "form-content__field"%>
      </div>

      <div class="form-content">
        <label>競技名</label>
        <span class="required">必須</span>
        <%= f.text_field :type, class: "form-content__field"%>
      </div>

      <div class="form-content">
        <label>日時</label>
        <span class="required">必須</span>
        <%= f.text_field :datetime, class: "form-content__field"%>
      </div>

      <div class="form-content">
        <label>定期開催日</label>
        <span class="optional">任意</span>
        <%= f.text_field :regular_date, class: "form-content__field"%>
      </div>

      <div class="form-content">
        <label>場所</label>
        <span class="required">必須</span>
        <%= f.text_field :region, class: "form-content__field"%>
      </div>

      <div class="form-content">
        <label>費用</label>
        <span class="required">必須</span>
        <%= f.text_field :cost, class: "form-content__field"%>
      </div>

      <div class="form-content">
        <label>募集内容</label>
        <span class="required">必須</span>
        <%= f.text_area :content, class: "form-content__profile", rows: 5 %>
      </div>

      <div class="form-content">
        <label>当日の流れ</label>
        <span class="required">必須</span>
        <%= f.text_area :flow, class: "form-content__profile", rows: 5 %>
      </div>

      <div class="signup">
        <%= f.submit "投稿する", class: "btn btn-warning text-white"%>
      </div>
    <% end %>
  </div>
</div>