<div class="container">
  <div class="post-show">
    <div class="favorite" id="favorite-button-<%= @post.id%>">
      <%= render partial: 'favorites/favorite', locals: {post: @post} %>
    </div>
    <div class="post-top">
      <div class="title">
        <%= @post.title %>
      </div>
    </div>
    <div class="top-image">
      <% if @post.image.attached? %>
        <%= image_tag @post.image.variant(resize: "700x700"), class: "active-photo"%>
      <% end %>
    </div>
    <% if @post.tags.exists? %>
      <div class="tags-field">
        <% @post.tags.each do |tag| %>
          <div class="tags">
            <%= link_to "##{tag.name}", root_path(tag: tag.name), class: "tag" %>
          </div>
        <% end %>
      </div>
    <% end %>
    <div class="post-detail">
      <div class="user">
        <div class="top">
          <div class="title">
            〜投稿者〜
          </div>
        </div>
        <div class="bottom">
          <div class="user">
            <%= link_to user_path(@postUser) do %>
              <% if @post.user.image.attached? %>
                <%= image_tag @post.user.image, class: "icon" %>
              <% else %>
                <%= image_tag  'default.png', class: "icon"%>
              <% end %>
            <% end %>
          </div>
          <div class="info">
            <div class="name">
              <%= @post.user.name %>
            </div>
            <div class="review">
              <div class="star-rating-front" style="width: <%= @postUser.avg_score*20 %>% ">
                ★★★★★
              </div>
              <div class="star-rating-back" >
                ★★★★★
              </div>
              <%= link_to user_reviews_path(@postUser.id), class: "link" do %>
                <div class="count">
                  (<%= @postUser.reviews.count %>件のレビュー)
                </div>
              <% end %>
            </div>
          </div>
        </div>
      </div>
      <div class="basic-info">
        <div class="content-block">
          <div class="top">
            〜メッセージ〜
          </div>
          <div class="bottom">
            <%= @post.content %>
          </div>
        </div>
        <div class="content-block">
          <div class="top">
            〜当日の流れ〜
          </div>
          <div class="bottom">
            <%= @post.flow %>
          </div>
        </div>
        <div class="content-block">
          <div class="top">
            〜詳細情報〜
          </div>
          <table class="table table-striped">
            <tbody>
              <tr>
                <td>競技名</td>
                <td><%= @post.sports %></td>
              </tr>
              <tr>
                <td>日時</td>
                <td><%= @post.datetime %></td>
              </tr>
              <tr>
                <td>定期開催日</td>
                <% if @post.regular_date != "" %>
                  <td><%= @post.regular_date %></td>
                <% else %>
                  <td>情報がありません</td>
                <% end %>
              </tr>
              <tr>
                <td>場所</td>
                <td><%= @post.address %></td>
              </tr>
              <tr>
                <td>参加費</td>
                <td><%= @post.cost %></td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="content-block">
          <div class="top">
            〜地図〜
          </div>
          <%# 以下の記述の中にあるYOUR_API_KEYには取得したご自身のAPIキーを記述してください %>
          <script type="text/javascript">
            function initMap() {
          // latitude,longitudeから位置を特定
              var test ={lat: <%= @post.latitude %>, lng: <%= @post.longitude %>};
              var map = new google.maps.Map(document.getElementById('map'), {
                        zoom: 15, 
                        center: test
                        });
              var transitLayer = new google.maps.TransitLayer();
              transitLayer.setMap(map);

              var contentString = '住所：<%= @post.address %>';
              var infowindow = new google.maps.InfoWindow({
                content: contentString
              });

          // Map上の指定した位置にピンを挿して表示する
              var marker = new google.maps.Marker({
                            position:test,
                            map: map,
                            title: contentString
                          });

              marker.addListener('click', function() {
                infowindow.open(map, marker);
              });
            }
          </script>
          <script async defer
                        src="https://maps.googleapis.com/maps/api/js?v=3.exp&key=<%= ENV["GOOGLE_MAP_API_KEY"] %>&callback=initMap">
          </script>

          <%# 表示するmapのcssです。ご自身でカスタマイズしてください。高さが設定されていないと表示されないことがあります。 %>
          <style type="text/css">
            #map { height: 400px;
                  width: 100%;}
          </style>

          <%# mapの表示 %>
          <div id="map"></div>
        </div>
      </div>
    </div>
  </div>
  <div class="button-block">
    <% if @post.user.id == current_user.id %>
    <div class="button">
      <%= link_to '投稿を編集', edit_post_path(@post.id), class:"btn btn-warning text-white" %>
      <%= link_to '投稿を削除', post_path(@post.id), class:"btn btn-warning text-white", method: :delete %>
    </div>
    <% else %>
      <% if @haveRoom == true %>
        <%= link_to "メッセージを送信", room_messages_path(@roomId),class: "btn btn-warning text-white" %>
      <% else %>
        <%= form_with model: @room, local: true do |f| %>
          <input name="room[user_ids][]" type="hidden" value=<%= current_user.id%>>
          <input name="room[user_ids][]" type="hidden" value=<%= @post.user.id%>>
          <%= f.submit "メッセージを送信", class: "btn btn-warning text-white" %>
        <% end %>
      <% end %>
    <% end %>
  </div>
</div>