<%# サインインしているときのヘッダー %>
<% if user_signed_in? %>
  <header class="navbar navbar-expand-lg navbar-light be-light fixed-top p-2" style="background-color:#ffff66;">
    <div class="container">
      <%= link_to root_path, class: "navbar-brand", style: "font-family: 'Roboto Slab', serif; font-size: 30px;" do %>
        <%= image_tag '0116.png', width: '50', height: '50'%>
        <span>Spomatcher</span>
      <% end %>
      <div class="collapse navbar-collapse justify-content-end">
        <ul class="navbar-nav align-items-center">
          <li class="nav-item">
            <%= link_to root_path do %>
              <i class="fas fa-search"></i>
            <% end %>
          </li>
          <li class="nav-item">
            <%= link_to root_path do %>
              <i class="far fa-edit"></i>
            <% end %>
          </li>
          <li class="nav-item">
            <%= link_to root_path do %>
              <i class="far fa-envelope"></i>
            <% end %>
          </li>
          <li class="nav-item">
            <%= link_to root_path do %>
              <i class="far fa-bell"></i>
            <% end %>
          </li>
          <li class="nav-item">
            <% if @user.image.attached? %>
              <%= image_tag @user.image, class: "user-image" %>
            <% else %>
              <%= image_tag 'default.png', class: "user-image" %>
            <% end %>
          </li>
          <li class="nav-item">
            <%= link_to "ログアウト", destroy_user_session_path, class: "nav-link text-dark font-weight-bold", method: :delete %>
          </li>
        </ul>
      </div>
    </div>
  </header>
<%# サインインしていないときのヘッダー %>
<% else %>
  <header class="navbar navbar-expand-lg navbar-light be-light fixed-top p-2" style="background-color:#ffff66;">
    <div class="container">
      <%= link_to root_path, class: "navbar-brand", style: "font-family: 'Roboto Slab', serif; font-size: 30px;" do %>
        <%= image_tag '0116.png', width: '50', height: '50'%>
        <span>Spomatcher</span>
      <% end %>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
        <ul class="navbar-nav align-items-center">
          <li class="nav-item">
            <%= link_to "新規登録", new_user_registration_path, class: "nav-link text-dark font-weight-bold" %>
          </li>
          <li class="nav-item">
            <%= link_to "ログイン", new_user_session_path, class: "nav-link text-dark font-weight-bold" %>
          </li>
          <li class="nav-item">
            <%= link_to "ゲストログイン", users_guest_sign_in_path, class: "nav-link text-dark font-weight-bold", method: :post %>
          </li>
        </ul>
      </div>
    </div>
  </header>
<% end %>